.display\:block {
  display: block;
}

.display\:inline-block {
  display: inline-block;
}

@media (max-width: 699px) {
  .mx700\:display\:none {
    display: none;
  }
}

@media (min-width: 700px) {
  .mn700\:display\:none {
    display: none;
  }
}

@media (max-width: 899px) {
  .mx900\:display\:none {
    display: none;
  }
}
