.Button {
  --padding: 1rem 1.5rem;
  --background: var(--color-white);
  --color: var(--color-teal);

  display: inline-block;
  padding: var(--padding);

  color: var(--color);
  font-weight: bold;
  font-size: 14px;
  text-align: center;

  background: var(--background);
  border-radius: 3px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.Button:hover,
.Button:focus {
  --background: var(--blue);
  --color: var(--white);
}

.Button[data-theme="dark"] {
  --background: var(--gradient-cool);
  --color: var(--white);
}

.Button[data-theme="dark"]:hover,
.Button[data-theme="dark"]:focus {
  transform: scale(1.1);
}
