.HeroWrapper {
  --hero-color: var(--black);
  background-color: var(--hero-color);
}

.Hero {
  height: 80vh;
  max-height: 40.5rem;

  color: var(--white);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.HeroInner {
  margin-top: 0;
}

.HeroInner::before {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  height: 100%;
  width: 100%;

  background: linear-gradient(
      0deg,
      rgba(39, 35, 33, 0.5),
      rgba(39, 35, 33, 0.5)
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(39, 35, 33, 0) 0%,
      var(--hero-color) 100%
    );
  content: "";
}

.Hero,
.HeroContainer {
  position: relative;

  align-items: center;
  display: flex;
  justify-content: center;
}

.Content {
  text-align: center;
}

.Strapline {
  color: var(--gray-1);
  max-width: 27.5rem;
}

.Availability {
  justify-content: center;
}
