html {
  font-size: 100%;
}

html,
body,
input,
button {
  font-family: var(--primary-font);
}
/* * Sizing ================= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
}

h1,
.h1 {
  font-size: var(--h1);
}
h2,
.h2 {
  font-size: var(--h2);
}
h3,
.h3 {
  font-size: var(--h3);
}
h4,
.h4 {
  font-size: var(--h4);
}
h5,
.h5 {
  font-size: var(--h5);
}
h6,
.h6 {
  font-size: var(--h6);
}
p,
.p {
  font-size: var(--p);
}
small,
.small {
  font-size: var(--small);
}

/* * Line Height ================= */

p,
.p {
  line-height: 1.619;
}

/* * Helper Classes ================= */

.primary-font {
  font-family: var(--primary-font);
}
.secondary-font {
  font-family: var(--secondary-font);
}
.bold {
  font-weight: 600;
}
.black {
  font-weight: 900;
  letter-spacing: 1px;
}
.uppercase {
  text-transform: uppercase;
}
