.CardWrapper {
  --img-border-radius: 0.25rem;
  --max-card-width: 13.5rem;
  --vertical-spacing: 1rem;

  display: flex;
  justify-content: center;

  width: 100%;

  border-radius: 0.25rem 0.25rem 1rem 0.25rem;
  filter: var(--card-shadow);
  transition: transform 150ms ease-in-out;
}

.CardWrapper:hover,
.CardWrapper:focus {
  transform: scale(1.1) rotate(-1deg);
  z-index: 2;
}

.Logo {
  --logo-size: 1.5rem;

  height: var(--logo-size);
  margin-right: 0.5rem;
  width: var(--logo-size);

  border-radius: var(--img-border-radius);
}

.Thumbnail {
  --thumbnail-size: 8rem;

  height: var(--thumbnail-size);

  border-radius: var(--img-border-radius);
}

.Icon {
  --icon-size: 0.75rem;

  height: var(--icon-size);
}

@media (min-width: 700px) {
  .Thumbnail {
    --thumbnail-size: 12rem;
  }
}

@media (min-width: 900px) {
  .Thumbnail {
    --thumbnail-size: 10rem;
  }
}
