.Footer {
  padding-bottom: 4rem;
  padding-top: 4rem;

  color: var(--white);

  background-color: var(--black);
}

.Logo {
  margin-bottom: 1rem;

  fill: var(--white);
}

.FooterModule {
  margin-top: 2rem;
}

.Copyright {
  padding: 1rem;

  color: var(--white);
  text-align: center;

  background-color: var(--gray-5);
}
