@font-face {
  font-family: "Silka Web";
  src: url("../../assets/fonts/silka-regular-webfont.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Silka Web";
  src: url("../../assets/fonts/silka-regularitalic-webfont.woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Silka Web";
  src: url("../../assets/fonts/silka-bold-webfont.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Silka Web";
  src: url("../../assets/fonts/silka-bolditalic-webfont.woff2");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Silka Web";
  src: url("../../assets/fonts/silka-black-webfont.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Knile Web";
  src: url("../../assets/fonts/knile-regular-webfont.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Knile Web";
  src: url("../../assets/fonts/knile-black-webfont.woff2");
  font-weight: 900;
}
